.dietaTagsContainer > span {
    margin: 2px;
}

.mainPageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-gap: 20px;
}

.gridItem {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 11px rgba(0,0,0,.27);
    border-radius: 10px;
    padding: 20px;
}

.tableActionButtonsContainer{
    display: flex;
    flex-direction: column;
}

.gridItem2{
    overflow-y: auto;
}

.gridItem3 {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.sideMenuItem {
    padding: 10px;
    background-color: #1677ff;
}

.dictItem {
    margin-bottom: 50px;
    max-height: 50%;
}

.dictAddBtn {
    margin-bottom: 10px;
}