.topNavigationContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNavigationContainerButtons{
    margin-right: 10px;
}

.dietaTagsContainer > span {
    margin: 2px;
}

.modalFooter{
    display: flex;
    justify-content: flex-end;
}

.modalButtons{
    margin-left: 10px;
}

.selectedDateText{
    border: 1px solid #1677ff;
    padding: 5px 10px;
    border-radius: 10px;
}
