.modalTitle{
    font-size: 20px;
}

.modalButtons{
    margin-right: 10px;
}

.inputs{
    display: flex;
}

.discInput{
    width: 100%;
}

.codeInput{
    margin-right: 10px;
}

.modalFooter{
    display: flex;
    justify-content: flex-end;
}