.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
}

.wrapper{
    /*overflow-y: scroll;*/
}

.searchSection {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/green2.jpg");
}

.search {
    width: 60vw;
}

.searchTitle {
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
}

.newItem {
    transition: 0.3s linear;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}

.newItem:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 1px 11px green;
}

.preview_img {
    width: 100%;
    height: auto;
}

.spinnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}