.newItemPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.preview_img {
    width: 100%;
    margin-bottom: 20px;
}

.metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newItemCardContainer {
    padding: 20px;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}

.historyDataContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #adadad;;
}

.historyDataContainer span {
    margin-left: 5px;
}